.header{
  background-color: rgb(68, 68, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.header a{
  text-decoration:  none;
  font-size: larger;
  color: black;
}